:root {
  --width: 900px;
  --mobile-width: 650px;
  --text: rgb(47, 67, 79);
}

body{
  margin:0;
}

.orange{
  color: #FF8A00;
}

.fullsize {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  padding: 0;
  margin: 0 0 1rem;
  left:0;
}

.hero_img{
  position:relative;
}

.overall {
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  margin: auto;
  max-width: 1440px;
  position: relative;
  height: 100%;
  font-size: 20px;
  line-height:1.5;
}

.content {
  max-width: 1440px;
  padding: 0rem 3.5rem;
  margin: auto;
}

.top {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.title,
.title2,
.title3 {
  font-family: "Imbue", "Impact", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 180px;
  display: flex;
  align-items: center;
  color: #e8e8e8;
}
.title3{
  position:absolute;
  right:60px;
  bottom:20px;
}

.title2,
.descrip {
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  color: rgb(30, 30, 30);
}

.descrip {
  font-size: 30px;
  font-weight: 400;
  margin: 0 auto 4rem;
  text-align: center;
  width: 70%;
}

.subTitle{
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 1rem 0;
  border-bottom: 3px solid #FF8A00!important;
  width:fit-content;
  margin-bottom: 2rem;
}

li{
  line-height: 1.8;
  margin:1rem;
}

.noMargin:hover:after {
  color: #ffffff;
  width: 0%;
  left: 0;
}

.infogrid{
  display: grid;
  grid-template-columns: 5fr 4fr;
  line-height: 1.8;
  margin:auto;
  padding-bottom: 3rem;
}
.overview {
  padding:1rem;
  padding-right:5rem;
  
}
.closerLineHeight{
  line-height: 1.7;
}
.infos{
  padding:1rem 1.5rem;
  padding-right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.info{
  padding:0 0.5rem;
  margin:0 0.5rem;
  padding-bottom: 1rem;
}

/* -------------------------------------------------------------------------- */

.carousel {
  max-width: 1440px;
  margin: auto;
}

.tabs {
  font-family: Lato, "Lato", Inter, "Inter", "Open Sans", Calibri,
    "Trebuchet MS", sans-serif;
  color: #999999;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

.tab {
  border: none;
}

.images {
  max-width: 300px;
  margin: 1rem;
  border-radius: 25px;
}

.works {
  max-width: 1440px;
  margin: auto;
}

.card-grid {
  overflow-x: auto;
  width: 100%;
  margin: 1rem auto;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  max-width: 850px;
}
.work-card {
  width: 90%;
  /* width: 200px; 180px; */
  height: 240px;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 100%;
  transition: opacity 0.3s;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
}
.noMargin {
  margin: 0;
  width: 100%;
  /* width: 200px; 180px; */
  height: 240px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 100%;
  transition: opacity 0.3s;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
}
.work-card-inner {
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: opacity 0.3s;
  opacity: 100%;
  display: flex;
  border: 2px solid #e8e8e8;
  border-radius: 5%;
}
.work-card-inner:hover {
  border: 2px solid #000;
}

.work-card:hover .work-card-img {
  /* top:-10%; */
  opacity: 15%;
  transition: opacity 0.3s;
  cursor: pointer;
}
.work-card:hover .work-card-description {
  /* top:-10%; */
  opacity: 100%;
  transition: opacity 0.3s;
}
.work-card:hover .overlay-title {
  opacity: 0%;
  transition: opacity 0.3s;
}
.work-card-img,
.work-card-description {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4%;
  -webkit-border-radius: 4%;
  -moz-border-radius: 4%;
  width: 100%;
  height: 100%;
}
.overlay-title {
  position: absolute;
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center; */
  bottom: 0;
  margin: 0 auto;
  color: white;
  width: 100%;
  opacity: 100%;
  transition: opacity 0.7s;
  background: linear-gradient(transparent 0%, var(--text) 110%);
}
.work-card-img {
  background-color: cadetblue;
}
.work-card-description {
  margin: 0.5rem auto 0;
  opacity: 0%;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2.5%;
  width: 95%;
  font-size: 18px;
}

/* work index list  --------------------------------------------*/

.work {
  width: 550px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--main-color);
  box-shadow: 0px 8px 4px var(--main-dark);
  /* border-radius: 25px; */
  padding: 1rem;
  margin: 2rem auto;
}

.work-img {
  width: 50%;
  height: 240px;
  /* border: 3px solid rgb(87, 152, 190); */
  overflow: hidden;
  /* border-radius: 25px; */
  /* -webkit-border-radius: 25px; */
  /* -moz-border-radius: 25px; */
  margin: auto 0;
}

.work-description {
  width: 50%;
  padding: 20px 40px;
}

.buttons {
  width: 50%;
  flex-direction: row;
  border: 1px solid var(--main-color);
  background-color: white;
  box-shadow: 1px 2px 3px var(--main-dark);
  border-radius: 15px;
  padding: 0.7rem;
}

.buttons:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
}

.buttons:active {
  border: 1px solid var(--main-color);
  background-color: var(--main-mid);
  color: white;
}

/* each work  -----------------------------------------------------*/
.project-width {
  max-width: var(--width);
  margin: auto;
  padding: 4rem 0 5rem 0;
  text-align: left;
  display: grid;
  padding: 20px 1rem;
}

/* tablet screen or smaller -----------------------------------------------*/
@media only screen and (max-width: 1022px) {
  article {
    margin: auto;
  }
  .card-frame {
    margin: auto;
    padding: 0 3rem;
  }
  .filters {
    margin: 1rem auto;
    max-width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;

    /* UNDO THIS UPON FIXING FILTER SYSTEM */
    display: none;
  }
  .filter {
    color: var(--text);
    background-color: none;
    border: 0px;
    padding: 1rem;
    margin: 0 1rem;
  }
  .card-grid {
    width: 100%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 850px;
  }
  .work-card {
    width: 200px; /* 200px; */
    height: 240px; /* 240px; */
    margin: 0.7rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 100%;
    transition: opacity 0.3s;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
  }
  .work-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: opacity 0.3s;
    opacity: 100%;
    display: flex;
  }
  .work-card:hover .work-card-img {
    /* top:-10%; */
    opacity: 15%;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .work-card:hover .work-card-description {
    /* top:-10%; */
    opacity: 100%;
    transition: opacity 0.3s;
  }
  .work-card:hover .overlay-title {
    opacity: 0%;
    transition: opacity 0.3s;
  }
  .work-card-img,
  .work-card-description {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    width: 100%;
    height: 100%;
  }

  .work-card-img {
    background-color: cadetblue;
  }
  .work-card-description {
    margin: 0.5rem auto 0;
    opacity: 0%;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .project-width {
    margin: 0 2rem;
    padding: 0 3rem;
  }
}
/* mobile screen  ---------------------------------------------------------*/
@media only screen and (max-width: 650px) {
  .card-frame {
    margin: auto;
    padding: 0;
  }
  .filters {
    margin: 1rem auto;
    max-width: var(--width);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
  }
  .filter {
    display: none;
  }
  .card-grid {
    width: 100%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }
  .work-card {
    width: 140px; /* 180px; */
    height: 12rem;
    /* height: 168px; */
    margin: 0.6rem 0.3rem 0.6rem 0.3rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    opacity: 100%;
    transition: opacity 0.3s;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
  }
  .work-card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
    position: relative;
    transition: opacity 0.3s;
    opacity: 100%;
    display: flex;
  }
  .work-card:hover .work-card-img {
    /* top:-10%; */
    opacity: 15%;
    transition: opacity 0.3s;
    cursor: pointer;
  }
  .work-card:hover .work-card-description {
    /* top:-10%; */
    opacity: 100%;
    transition: opacity 0.3s;
  }
  .work-card:hover .overlay-title {
    opacity: 0%;
    transition: opacity 0.3s;
  }
  .work-card-img,
  .work-card-description {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 4%;
    -webkit-border-radius: 4%;
    -moz-border-radius: 4%;
    width: 100%;
    height: 100%;
  }

  .work-card-img {
    background-color: cadetblue;
  }
  .work-card-description {
    margin: 0.5rem auto 0;
    opacity: 0%;
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
  .smaller {
    font-size: 1rem;
  }

  .work {
    width: 250px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--main-color);
    box-shadow: 0 8px 2px var(--main-dark);
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    padding: 1.5rem;
    margin: 2rem auto;
    overflow: hidden;
  }

  .work-img {
    width: 90%;
    height: 180px;
    overflow: hidden;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    margin: 0 auto;
  }

  .work-description {
    width: 100%;
    padding: 0px 0px;
  }

  .buttons {
    width: 50%;
    flex-direction: row;
    border: 1px solid var(--main-color);
    background-color: white;
    box-shadow: 1px 2px 3px var(--main-dark);
    border-radius: 15px;
    padding: 0.7rem;
    margin: 0 25%;
    color: black;
  }

  .buttons:hover {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
  }

  .buttons:active {
    border: 1px solid var(--main-color);
    background-color: var(--main-mid);
    color: white;
  }

  .project-width {
    margin: 0;
    padding: 1.5rem;
  }
}

.footer {
  padding: 75px 50px 0px 50px;
  text-align: center;
  font-size: 0.9rem;
  margin: auto;
}
.footDescrip {
  color: #778899;
  text-align: center;
  font-size: 0.9rem;
  padding: 0px 50px 25px 50px;
  margin: auto;
}
