:root {
  --width: 900px;
  --mobile-width: 650px;
  --text: rgb(47, 67, 79);
}
html{
  overflow-x: hidden;
}
body{
  margin:0;
  overflow-x: hidden;
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
}
.noFlow{
  overflow-x: hidden;
  margin: auto;
  max-width: 1440px;
  position: relative;
}

.orange{
  color: #FF8A00;
}

.fullsize {
  background-size: cover;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  padding: 0;
  margin: 0 0 1rem;
  left:0;
}

.hero_img{
  position:relative;
}

.overall {
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  margin: auto;
  max-width: 1440px;
  position: relative;
  height: 100%;
  font-size: 20px;
  line-height:1.5;
  overflow-x: hidden;
}

.content {
  max-width: 1440px;
  padding: 0rem 3.5rem;
  margin: auto;
}

.top {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: space-between;
}

.title,
.title2,
.title3 {
  font-family: "Imbue", "Impact", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 180px;
  display: flex;
  align-items: center;
  color: #e8e8e8;
}
.title3{
  position:absolute;
  right:60px;
  bottom:20px;
  text-transform: uppercase;
}

.title2,
.descrip {
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  font-size: 80px;
  justify-content: center;
  align-items: center;
  color: rgb(30, 30, 30);
}

.descrip {
  font-size: 30px;
  font-weight: 400;
  margin: 0 auto 4rem;
  text-align: center;
  width: 70%;
}

.subTitle{
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  font-size: 30px;
  font-weight: 600;
  padding: 1rem 0;
  border-bottom: 3px solid #FF8A00;
  width:fit-content;
  margin-bottom: 2rem;
}

li{
  line-height: 1.8;
  margin:1rem;
}

.noMargin:hover:after {
  color: #ffffff;
  width: 0%;
  left: 0;
}

.infogrid{
  display: grid;
  grid-template-columns: 5fr 4fr;
  line-height: 1.8;
  margin:auto;
  padding-bottom: 3rem;
}
.overview {
  padding:1rem;
  padding-right:5rem;
  
}
.closerLineHeight{
  line-height: 1.7;
}
.infos{
  padding:1rem 1.5rem;
  padding-right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}
.info{
  padding:0 0.5rem;
  margin:0 0.5rem;
  padding-bottom: 1rem;
}

.three-grid, .three-grid2, .two-grid {
  position:relative;
  margin: auto;
  margin-bottom: 3rem;
  padding: 0;
  display:grid;
  max-width: 1400px;
  vertical-align:center;
}
.three-grid {
  grid-template-columns: 4fr 3fr;
}
.three-grid2 {
  grid-template-columns: 3fr 4fr;
}
.two-grid {
  grid-template-columns: 1fr 1fr;
  gap:2rem;
  width:95%;
}
.elem2{
  margin: auto;
  padding: 0 3rem;
}


.projects{
  margin:auto;
  margin-top:9rem;
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  border-bottom: 3px solid rgb(255, 138, 0);
  width:fit-content;
  padding-bottom: 1rem;
}
.others{
  padding:3rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width:100%;
  max-height: min-content;
}
.other{
  width:100%;
  aspect-ratio: 16/9;
  display: block;
  opacity:0.6;
  transition: opacity 0.3s;
}
.relative{
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.5s linear;
}
.prevtext, .nexttext{
  position:absolute;
  margin:auto;
  top:70%;
}
.prevtext{
  left:30px;
}
.nexttext{
  right:30px;
}
.relative h3{
  text-transform: uppercase;
  font-family: "Imbue", "Impact", "Times New Roman", Times, serif;
  font-size:60px;
}
.relative:hover .other {
  opacity: 1;
  box-shadow:0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  transition: opacity 0.3s;
}
.relative:hover:after {
  width:0%;
}

.topbutton {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index:300;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  margin:auto;
  background-color:rgba(253, 170, 36, 0.6);
  color:none;
  border-radius: 100%;
  width:30px;
  height:30px;
  opacity: 0.7;
  transition: opacity 0.5s;
}
.topbutton:hover {
  background-color:rgba(253, 170, 36, 1);
  opacity: 1;
  transition: opacity 0.5s;
}
.noshow{
  opacity: 0;
  visibility: hidden;
}
#back-to-top {
  display: none;
  position: fixed;
  z-index: 300;
  border: none;
  outline: none;
  cursor: pointer;
  margin:auto;
  background-color:none;
  color:none;
}
.toparrow{
  width:100%;
  margin:auto;
  justify-content: center;
  display: flex;
}

.smaller{
  margin:0;
  margin-bottom:1rem;
  font-weight: 600;
}
.description{
  font-size:20px;
  margin:0;
}

.image{
  width:40%; 
  box-shadow:0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.video{
  width:70%;
  margin:auto;
}

/* -------------------------------------------------------------------------- */

.carousel {
  max-width: 1440px;
  margin: auto;
}

.tabs {
  font-family: Lato, "Lato", Inter, "Inter", "Open Sans", Calibri,
    "Trebuchet MS", sans-serif;
  color: #999999;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
}

.tab {
  border: none;
}

.images {
  max-width: 300px;
  margin: 1rem;
  border-radius: 25px;
}

.works {
  max-width: 1440px;
  margin: auto;
}

.card-grid {
  overflow-x: hidden;
  width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-flow: row wrap;
}
article{
  width:50%;
  aspect-ratio: 16/9;
}
.work-card {
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 100%;
  transition: opacity 0.3s;
  aspect-ratio: 16/9;
}
.noMargin {
  margin: 0;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  opacity: 100%;
  transition: opacity 0.3s;
  aspect-ratio: 16/9;
}
.work-card-inner {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
  transition: opacity 0.3s;
  opacity: 100%;
  display: flex;
  border: 2px solid #e8e8e8;
}
.work-card-inner:hover {
  border: 2px solid #000;
}

.work-card:hover .work-card-img {
  /* top:-10%; */
  opacity: 15%;
  transition: opacity 0.3s;
  cursor: pointer;
}
.work-card:hover .work-card-description {
  /* top:-10%; */
  opacity: 100%;
  transition: opacity 0.3s;
}
.work-card:hover .overlay-title {
  opacity: 0%;
  transition: opacity 0.3s;
}
.work-card-img,
.work-card-description {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}
.overlay-title {
  position: absolute;
  /* display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center; */
  bottom: 0;
  margin: 0 auto;
  color: white;
  width: 100%;
  opacity: 100%;
  transition: opacity 0.7s;
  background: linear-gradient(transparent 0%, var(--text) 110%);
}
.work-card-img {
  background-color: cadetblue;
}
.work-card-description {
  margin: auto;
  opacity: 0%;
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2.5%;
  width: 95%;
  font-size: 18px;
}

/* work index list  --------------------------------------------*/

.work {
  width: 550px;
  display: flex;
  flex-direction: row;
  border: 1px solid var(--main-color);
  box-shadow: 0px 8px 4px var(--main-dark);
  /* border-radius: 25px; */
  padding: 1rem;
  margin: 2rem auto;
}

.work-img {
  width: 50%;
  /* border: 3px solid rgb(87, 152, 190); */
  overflow: hidden;
  /* border-radius: 25px; */
  /* -webkit-border-radius: 25px; */
  /* -moz-border-radius: 25px; */
  margin: auto 0;
}

.work-description {
  width: 50%;
  padding: 20px 40px;
}

.buttons {
  width: 50%;
  flex-direction: row;
  border: 1px solid var(--main-color);
  background-color: white;
  box-shadow: 1px 2px 3px var(--main-dark);
  border-radius: 15px;
  padding: 0.7rem;
}

.buttons:hover {
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  color: white;
}

.buttons:active {
  border: 1px solid var(--main-color);
  background-color: var(--main-mid);
  color: white;
}

/* each work  -----------------------------------------------------*/
.project-width {
  max-width: var(--width);
  margin: auto;
  padding: 4rem 0 5rem 0;
  text-align: left;
  display: grid;
  padding: 20px 1rem;
}

/* tablet screen or smaller -----------------------------------------------*/
@media only screen and (max-width: 1022px) {
  .overview{
    padding:0;
    margin-bottom: 3rem;
  }
  .content{
    padding:1rem;
  }
  .infogrid{
    grid-template-columns: 1fr;
  }
  .infos{
    padding:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
  .info{
    padding:0 0.5rem;
    margin:0 0.5rem;
    padding-bottom: 1rem;
  }

  .relative h3{
    font-size:40px;
    top:65%;
  }

  .image{
    width:80%; 
    box-shadow:0 10px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  }

  
  .three-grid, .three-grid2 {
    margin: auto;
    padding: 3rem 5rem;
    display:flex;
    flex-direction: column;
    width:auto;
    max-width: 900px;
    vertical-align:center;
    gap:3rem;
  }
  .two-grid{
    grid-template-columns: 1fr;
  }
  .three-grid {
    /* grid-template-rows: 2fr 1fr;
    grid-template-columns: none; */

  }
  .three-grid2 {
    /* grid-template-columns: none;
    grid-template-rows: 2fr 1fr; */
    flex-direction: column-reverse;
  }
  .elem2{
    padding:0;
  }
  article{
    width:100%;
  }
  .card-grid {
    margin:0;
  }
  body{
    overflow-x: hidden;
  }
}
/* mobile screen  ---------------------------------------------------------*/
@media only screen and (max-width: 650px) {
  .overview{
    padding:0;
    margin-bottom: 3rem;
  }
  .title{
    font-size: 110px;
  }
  .title2{
    font-size:46px;
  }
  .title3{
    right:10px;
    bottom:10px;
    font-size: 90px;
    line-height: normal;
  }
  .others{
    grid-template-columns: 1fr;
  }
  .relative h3{
    top:60%;
  }

  .image{
    width:100%;
  }

  .descrip{
    font-size:20px;
    padding:0;
    margin:auto;
    width:90%;
    margin-bottom: 3rem;
  }
  .three-grid, .three-grid2 {
    margin: auto;
    margin-top:1rem;
    padding: 0;
    display:flex;
    flex-direction: column;
    width:auto;
    max-width: 900px;
    vertical-align:center;
    gap:1rem;
  }
  .three-grid2 {
    flex-direction: column-reverse;
  }
  .elem2{
    padding:0;
    margin:0;
  }
}

.footer {
  padding: 75px 50px 0px 50px;
  text-align: center;
  font-size: 0.9rem;
  margin: auto;
}
.footDescrip {
  color: #778899;
  text-align: center;
  font-size: 0.9rem;
  padding: 0px 50px 25px 50px;
  margin: auto;
}
