.content {
  max-width: 1440px;
  padding: 0rem 3.5rem;
  margin: auto;
}

.title {
  font-family: "Imbue", "Impact", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 180px;
  display: flex;
  align-items: center;
  color: #e8e8e8;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.hello {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 46px;
  line-height: 68px;
  margin-top: 3.7rem;
  color: #636363;
}

.frame {
  display: flex;
}

.photo {
  max-width: 265px;
  margin: 0 5rem 0 0;
  border-radius: 25px;
}

.aboutMe p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  max-width: 70%;
}
.aboutMe {
  justify-content: center;
  margin: auto;
}

.connect {
  display: flex;
  gap: 3rem;
}
