.overall {
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  margin: auto;
  max-width: 1440px;
  position: relative;
  height: 100%;
}

.content {
  max-width: 1440px;
  padding: 0rem 3.5rem;
  margin: auto;
}

.title {
  font-family: "Imbue", "Impact", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 180px;
  display: flex;
  align-items: center;
  color: #e8e8e8;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.hello {
  font-family: Montserrat;
  font-size: 60px;
  margin: 0 0 0.5rem 0;
  line-height: 68px;
  margin-top: 3.7rem;
  color: #e8e8e8;
}

h3{
  margin-top: 3rem;
  font-size: 20px;
  font-family: Avenir, Lato, Montserrat;
}

.frame {
  display: flex;
}

.photo {
  max-width: 265px;
  margin: 0 5rem 0 0;
  border-radius: 25px;
  pointer-events: none;
}

.aboutMe p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  max-width: 70%;
}
.aboutMe {
  justify-content: center;
  margin: auto;
}

.connect {
  display: flex;
  gap: 3rem;
  margin-bottom: 1rem;
}

.connectLogo{
  width:100px;
}

.footer{
  padding: 75px 50px 0px 50px; 
  text-align: center;
  font-size:0.9rem;
  margin:auto;
}
.footDescrip {
  color:#778899;
  text-align: center;
  font-size:0.9rem;
  padding: 0px 50px 25px 50px;
  margin:auto;
}