body{
  margin:0;
  overflow-x: hidden;
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
}
.overall {
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  margin: auto;
  max-width: 1440px;
  position: relative;
  /* height: 90vh; */
  overflow-x: hidden;
}
h1 {
  font-family: Montserrat,Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
  sans-serif;
  font-size: 40px;
  margin: 1rem 0;
}
h2 {
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
}
.fullsize {
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.logo {
  max-width: 200px;
}

.msg {
  width: 55%;
  margin: auto;
  padding: 3rem 0;
  justify-content: center;
  text-align: center;
  display: block;
}

.notice {
  display: none;
}

@media only screen and (max-width: 1022px) {
  .msg{
    width:85%;
    margin:auto;
  }
}

@media only screen and (max-width: 650px) {
  .notice {
    /* display: block; */
    display:none;
    margin: auto;
    padding: 3rem 0;
    justify-content: center;
    text-align: center;
    width:80%;
  }
  .msg{
    width:85%;
    font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  }
  h1{
    font-size: 30px;
    font-family: Montserrat,Lato, Avenir, Roboto, Helvetica Neue, Arial,
    sans-serif;
  }
  h2{
    font-size:20px;
    line-height: 28px;
  }
  .overall{
    height: 100vh;
  }
}
