body {
  margin: 0;
  overflow-x: hidden;
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
}
.content,
.content2 {
  max-width: 1440px;
  padding: 0rem 3.5rem;
  margin: auto;
  font-family: Lato, "Lato", Inter, "Inter", "Open Sans", Calibri,
    "Trebuchet MS", sans-serif;
}
.content2 {
  max-width: 1000px;
}
h2 {
  margin-bottom: 1rem;
}
p {
  margin-bottom: 3rem;
}

.overall {
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
  margin: auto;
  max-width: 1440px;
  position: relative;
  height: 100%;
}
.title {
  font-family: "Imbue", "Impact", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 130px;
  line-height: 180px;
  display: flex;
  align-items: center;
  color: #e8e8e8;
}

.resumeStyle {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 25px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.center {
  margin: 3rem auto 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 34px;
  color: #878787;
}

.centerTitle {
  text-align: center;
  margin:0;
}
.centerButton {
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-family: Lato, Avenir, Montserrat, Roboto, Helvetica Neue, Arial,
    sans-serif;
}

a {
  color: #878787;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;
}
a:hover {
  color: #000;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #ff8a00;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  color: #ff8a00;
  width: 100%;
  left: 0;
}

.footer {
  padding: 75px 50px 0px 50px;
  text-align: center;
  font-size: 0.9rem;
  margin: auto;
}
.footDescrip {
  color: #778899;
  text-align: center;
  font-size: 0.9rem;
  padding: 0px 50px 25px 50px;
  margin: auto;
}

@media only screen and (max-width: 650px) {
  .overall {
    overflow-x: hidden;
  }
  .title {
    font-size: 110px;
  }
  .title3 {
    right: 20px;
    bottom: 20px;
    font-size: 100px;
  }
  .resumeStyle {
    width: 100%;
  }
}
